---
- name: DELETE | Instance
  community.general.proxmox:
    state: absent
    vmid: "{{ proxmox_vmid }}"
    api_user: "{{ proxmox_api_user }}"
    api_token_id: "{{ proxmox_api_token_id }}"
    api_token_secret: "{{ proxmox_api_token_secret }}"
    api_host: "{{ proxmox_api_host }}"
    purge: "{{ proxmox_purge }}"

